body{
    margin-left: 40px;
    background-color: antiquewhite;
    
}
h1{
    color: blue;
    text-align: center;
    text-decoration: underline;
}
p{
    font-size: larger;
}
button{
    text-align: center;
}
pre{
    font-size: x-large;
    font-weight: bolder;
}
.let{
    color: red;
    font-weight: bolder;
    font-size: x-large;
    
}
.if{
    color: red;
    font-weight: bolder;
    font-size: x-large;
}
.if-else{
    color: purple;
    font-weight: bolder;
    font-size: xx-large;
}
.my-button{
    padding: 15px 30px; /* Button ka size andar se barhane ke liye */
    font-size: 1.5em; /* Button ke text ka size barhane ke liye */
    background-color: #007bff; /* Button ka background color */
    color: white; /* Button ke text ka color */
    border: none; /* Border hata dein */
    border-radius: 8px; /* Button ko gol corners dein */
    cursor: pointer;
}
h2{
    color: blue;
    font-weight: bold;
}
.qs2text{
    color: blue;
    font-weight: bold;
    margin-bottom: 0px;
}
.qs2text2{
    font-weight: bold;
    margin-bottom: 0px;
}
.circle-list{
    list-style-type: disc;
    margin-top: 0;
    padding:0;
    padding-left: 200px;
}
.heading-afterh1{
    color: rgb(126, 23, 223);
    font-weight: bold;
    font-size: 1.5em;
    text-decoration: underline;
}
.for{
    color: red;
    font-weight: bold;
}
.indexchapter3pre1{
    color: red;
    font-size:1.1em;
    text-decoration: underline;
}
.practiceset3button{
    text-align: center;
    font-size: 2em;
    border-style: dashed;
}
.allpageslinkson1page{
    text-align: center;
    font-size: 1.5em;
}