body{
    margin-left: 40px;
    background-color: antiquewhite;
    
}
h1{
    color: blue;
}
p{
    font-size: larger;
}
button{
    text-align: center;
}
pre{
    font-size: x-large;
}
.let{
    color: red;
    font-weight: bolder
}
.if{
    color: red;
    font-weight: bolder;
}
.if-else{
    color: dark purple;
    font-weight: bolder;
}